Repository bao-project/bao-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielRep, @josecm, @miguelafsilva5, @DavidMCerdeira

feat(folders): change and add folder tree for bao classic
  index.rst
  source/bao_hyp/getting_started.rst
  source/bao_hyp/index.rst
  source/bao_hyp/internals/index.rst
  source/bao_hyp/overview.rst
  source/bao_hyp/user_manual/index.rst
  source/index.rst
  source/introduction/index.rst
  source/introduction/overview.rst
  source/requirements/img/BaoReq.png
  source/requirements/index.rst
  source/requirements/requirements.rst
  source/requirements/writing_requirements.rst
Owners: @danielRep, @josecm, @miguelafsilva5, @DavidMCerdeira

fix(contr): remove references to the requirements framework
  source/development/contributing.rst
Owners: @josecm

update(contrib): update admin branch protection section description
  source/development/contributing.rst
Owners: @josecm

update(contrib): update admin branch protection section description
  source/development/contributing.rst
Owners: @josecm

fix(spell-wordlist): remove british word variant
  source/development/misra.rst
  source/spelling_wordlist.txt
Owners: @josecm, @danielRep, @miguelafsilva5

fix(sphinx): force misspelled words as sphinx warnings(error)
  source/conf.py
Owners: @danielRep, @josecm, @miguelafsilva5

style(left-panel): add logo and navigation options to theme
  source/conf.py
  source/introduction/img/bao-logo-200x.png
Owners: @danielRep, @josecm, @miguelafsilva5

ref(code-doc): improve the introduction text
  source/development/code_documentation.rst
  source/spelling_wordlist.txt
Owners: @danielRep, @josecm, @miguelafsilva5

feat(folders): change and add folder tree for bao classic
  index.rst
  source/bao_hyp/getting_started.rst
  source/bao_hyp/index.rst
  source/bao_hyp/internals/index.rst
  source/bao_hyp/overview.rst
  source/bao_hyp/user_manual/index.rst
  source/index.rst
  source/introduction/index.rst
  source/introduction/overview.rst
  source/requirements/img/BaoReq.png
  source/requirements/index.rst
  source/requirements/requirements.rst
  source/requirements/writing_requirements.rst
Owners: @danielRep, @josecm, @miguelafsilva5, @DavidMCerdeira

fix(contr): remove references to the requirements framework
  source/development/contributing.rst
Owners: @josecm

ref(code-doc): improve the C code doxygen documentation
  source/development/code_documentation.rst
Owners: @danielRep, @josecm, @miguelafsilva5

ref(code-doc): improve the C code doxygen documentation
  source/development/code_documentation.rst
Owners: @danielRep, @josecm, @miguelafsilva5

ref(code-doc): change the writing of doxygen generic guidelines
  source/development/code_documentation.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(design): add another design principle
  source/internals/design_principles.rst
  source/spelling_wordlist.txt
Owners: @danielRep, @josecm, @miguelafsilva5

ref(code-doc): change the writing of doxygen generic guidelines
  source/development/code_documentation.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(glossary): Add requirement's glossary entries
  source/glossary.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(glossary): Add requirement's glossary entries
  source/glossary.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(codigin_guidelines): add introduction
  source/development/coding_style.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(skeleton): getting started draft
  source/development/getting_started.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(coding_guidelines): add C lang intro and scaffold
  source/development/coding_style.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(coding_guidelines): define base compiler options
  source/development/coding_style.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(coding_guidelines): add C lang intro and scaffold
  source/development/coding_style.rst
Owners: @danielRep, @josecm, @miguelafsilva5

update(config): updated struct
  source/development/getting_started.rst
Owners: @danielRep, @josecm, @miguelafsilva5

update(config): updated struct
  source/development/config.rst
  source/development/getting_started.rst
  source/development/index.rst
  source/spelling_wordlist.txt
Owners: @danielRep, @josecm, @miguelafsilva5

fix(header): capitalize terms
  source/development/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

fix(header): capitalize terms
  source/development/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

fix(header): capitalize terms
  source/development/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(coding_guidelines): add C lang intro and scaffold
  source/development/coding_style.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(codigin_guidelines): add introduction
  source/development/coding_style.rst
Owners: @danielRep, @josecm, @miguelafsilva5

fix(doc): change document location to bao_hyp directory
  source/bao_hyp/config.rst
  source/bao_hyp/index.rst
  source/development/index.rst
Owners: @danielRep, @josecm, @miguelafsilva5

fix(doc): change document location to bao_hyp directory
  source/bao_hyp/config.rst
  source/bao_hyp/index.rst
  source/development/index.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(skeleton): getting started draft
  source/development/getting_started.rst
Owners: @danielRep, @josecm, @miguelafsilva5

fix(header): capitalize terms
  source/development/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

update(config): updated struct
  source/development/getting_started.rst
Owners: @danielRep, @josecm, @miguelafsilva5

update(config): updated struct
  source/development/config.rst
  source/development/getting_started.rst
  source/development/index.rst
  source/spelling_wordlist.txt
Owners: @danielRep, @josecm, @miguelafsilva5

fix(header): capitalize terms
  source/development/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

fix(header): capitalize terms
  source/development/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

feat(doc): add overview content to bao-classic config documentation
  source/bao_hyp/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

fix(doc): fix spelling typos
  source/bao_hyp/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

fix(doc): fix spelling typos
  source/bao_hyp/config.rst
Owners: @danielRep, @josecm, @miguelafsilva5

.github/CODEOWNERS:

# Maintainers
* @danielRep @josecm @miguelafsilva5

source/development/doc_guidelines.rst @danielRep

source/development/contributing.rst @josecm
source/development/misra.rst @josecm

source/requirements @DavidMCerdeira
